
/* Variables section */
:root {
  --main-bg-color: #e7e6eb;
  --header-color: #000000;
  --text-color: #606060;
}

/* Custom fonts */
@font-face {
  font-family: 'Steelfish';
  src: local(''),
       url("assets/fonts/steelfish-rg.woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'Steelfish';
  src: local(''),
       url("assets/fonts/steelfish-bd.woff2");
  font-weight: 700;
}
@font-face {
  font-family: 'Raleway';
  src: local(''), 
       url("assets/fonts/raleway-regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: 'Raleway';
  src: local(''),
       url("assets/fonts/raleway-700.woff2");
  font-weight: 700;
}
@font-face {
  font-family: 'Raleway';
  src: local(''),
       url("assets/fonts/raleway-800.woff2");
  font-weight: 800;
}
@font-face {
    font-family: 'Raleway';
    src: local(''),
         url("assets/fonts/raleway-900.woff2");
    font-weight: 900;
}

/* Declare common rules */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 320px;
  /* min-height: 100vh; */
  margin: 0;
  padding: 0;
  font-family: 'Raleway', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 50px;
  padding: 0 20px;
}

/* Header menu */
.nav-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-link {
  position: relative;
  padding: 0 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  color: var(--text-color);
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -5px;
  width: calc(100% - 24px);
  /* width: 100%; */
  height: 2px;
  background-color: var(--text-color);
  opacity: 0;
  transition: .5s;
}

.nav-link:hover::after {
  opacity: 1;
  animation-name: slidein;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes slidein {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 24px);
  }
}

/* Main container */
.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-profile {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 50px 30px 35px;
}

.section-profile-logo {
  width: 180px;
  height: 180px;
  margin-right: 30px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%);
}

.section-profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: right;
}

.main-title {
  position: relative;
  padding: 0;
  margin-bottom: 20px;
  font-family: 'Steelfish', Arial, serif;
  font-weight: 700;
  font-size: 51px;
  line-height: 51px;
  letter-spacing: 10px;
  color: var(--header-color);
}

.sirname {
  position: relative;
  top: 25%;
  font-weight: 400;
  font-size: 102px;
  text-transform: uppercase;
}

.section-subtitle {
  position: relative;
  right: 18px;
  font-family: 'Raleway', Arial, serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 0;
  text-transform: uppercase;
  color: var(--text-color);
}

.section {
  padding: 10px;
  padding-bottom: 35px;
}

.section-1-3 {
  width: 33%;
}

.section-1-2 {
  width: 50%;
}

.section-2-3 {
  width: 66%;
}

.section-title {
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--header-color);
}

.section-list {
  padding: 0;
  list-style: none;
}

.section-item {
  position: relative;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 30px;
}

.section-item::before {
  content: "+";
  position: absolute;
  top: 5px;
  left: 2px;
  width: 14px;
  height: 14px; 
  background-size: 14px 14px;
}

.section-item span {
  color: #829985;
}

.section-item a {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: var(--text-color);
  transition: color 0.5s;
}

.section-item a:hover {
  color: var(--header-color);
}

.contacts-item:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 0px;
  width: 24px;
  height: 24px; 
  background-size: contain;
  background-repeat: no-repeat;
}

.contacts-item:nth-child(1):before {
  background-image: url("assets/svg/location.svg");
}

.contacts-item:nth-child(2):before {
  top: 4px;
  left: 0px;
  width: 21px;
  height: 21px;
  background-image: url("assets/svg/email.svg");
}

.contacts-item:nth-child(3):before {
  top: 4px;
  left: 0px;
  width: 19px;
  height: 19px;
  background-image: url("assets/svg/github.svg");
}

.contacts-item:nth-child(4):before {
  top: 3px;
  left: 0px;
  width: 21px;
  height: 21px;
  background-image: url("assets/svg/telegram.svg");
}

.contacts-item:nth-child(5):before {
  background-image: url("assets/svg/discord.svg");
}

.summary-wrapper {
  padding-left: 40px;
  border-left: 5px solid #000;
}

.bd-left {
  padding-left: 40px;
  border-left: 2px solid #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}